$app-background-primary: #fcf5f3;
$app-background-secondary: #464bff;
$app-background-white: #ffffff;
$app-background-gray: #eeebf2;

$app-text-color-primary: #736b7e;
$app-text-color-white: #ffffff;

$app-border-color-primary: #eeebf2;
